.about-section {
  scroll-margin-top: var(--navbar-height);
  background: var(--color-bg-main);
}

/* -------- COMPANY SECTION -------- */

.about-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about-content h2 {
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.know-about-das{
    color: var(--color-primary);
    margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #555;
}

/* highlights */

.about-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 25px;
}

.about-highlights div {
  background: var(--color-bg-alt);
  padding: 14px 18px;
  border-left: 4px solid var(--color-primary);
  font-weight: 500;
}

/* -------- TEAM -------- */

.team-section {
  margin-top: 50px;
}

.team-section h3 {
  text-align: center;
  font-size: 32px;
  color: var(--color-primary);
  margin-bottom: 30px;
}

/* layout row */

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center; */
  margin-bottom: 40px;
}

/* alternate direction */

.team-row.reverse {
  direction: rtl;
}

.team-row.reverse > * {
  direction: ltr;
}

/* image */

.team-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  object-fit: cover;
}

/* content */

.team-content h4 {
  font-size: 26px;
  color: var(--color-primary);
}

.team-role {
  font-weight: 600;
  margin-top: 6px;
}

.team-exp {
  font-size: 14px;
  color: #777;
  margin: 4px 0 15px;
}

.team-desc {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

.team-rating {
  font-size: 20px;
  color: #f4b400;
}

/* Mobile */
@media (max-width: 767px) {
    .desktop-layout{
        display: none;
    }
    
    .mobile-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .know-about-das{
        font-size: 30px;
    }

    .about-image{
        width: 90%;
    }

    .about-us-para{
        width: 90%;
        padding-top: 15px;
        text-align: center;
    }

    .about-highlights{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-highlight-para{
        width: 90%;
        background: var(--color-bg-alt);
        padding: 14px 18px;
        border-left: 4px solid var(--color-primary);
        font-weight: 500;
    }
    
    .about-section{
        padding-top: 20px;
    }

    .about-company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-section{
        margin-top: 20px;
    }

    .meet-our-team-heading{
        font-size: 30px;
        color: var(--color-primary);
        margin-bottom: 20px;
        text-align: center;
    }

    .team-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-image{
        width: 85%;
    }

    .team-row {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .team-row.reverse {
        direction: ltr;
    }

    .team-image img {
        margin: 0 auto 25px;
    }

    .team-exp{
        margin-bottom: 5px;
    }

    .team-desc {
        width: 90%;
        text-align: justify;
        margin-bottom: 20px;

    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px){
    .about-highlights-view{
        display: none;
    }

    .team-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-layout{
        display: none;
    }

    .about-company{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-layout{
        width:90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-image-content-layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-image{
        width: 50%;
    }

    .about-content{
        width: 50%;
        padding-left: 35px;
    }

    .about-section{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-section{
        display: block;
    }

    .meet-our-team-heading{
        font-size: 35px;
        color: var(--color-primary);
        margin-bottom: 20px;
        text-align: center;
    }

    .team-content{
        width: 50%;
    }

    .team-row{
    }

 }


@media (min-width: 1025px) {
    .mobile-layout{
        display: none;
    }

    .about-company{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-layout{
        width:90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-image-content-layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-image{
        width: 50%;
    }

    .about-content{
        width: 50%;
        padding-left: 35px;
    }

    .about-section{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-section{
        display: block;
    }

    .meet-our-team-heading{
        font-size: 35px;
        color: var(--color-primary);
        margin-bottom: 20px;
        text-align: center;
    }

    .team-content{
        width: 50%;
    }

    .team-row{
        justify-content: space-evenly;
    }

 }