* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 24px;
}